{% extends "biomaint/base.html" %}
{% block body %}
<div id="title">
		<h2>{{ title }}</h2>
</div>
<form id="form_standard" name="add form" method="post" accept-charset="utf-8" class="form-horizontal">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
    {{ field.errors }}
    <p>{{ field.label_tag }}</p>
    <p>{{ field.help_text }}</p>
    <p>{{ field }}</p>
    </div>
{% endfor %}
<button id="send" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}