{% extends "biomaint/base.html" %}
{% load static from staticfiles %}
{% load work_order_extras %}
{% block scripts %}
<script type="text/javascript">
		$(document).ready(function(){
			$("form a").on('click',function(event){
				console.log(event);
				$(event.currentTarget).parent().submit();
			});	
		})
</script>
{% endblock %}
{% block body %}
<div id="title">
		<h2>{{ title }}</h2>
		{% csrf_token %}
</div>

<table id="table-view" class="table table-bordered table-hover">
	<thead>
		{{ "<tr>" }}
		{% for field in form %}
		    <th>{{ field }}</th>
		{% endfor %}
		{% if modify %}
		<th class="mod">{{ "Modificar" }}</th>
		{% endif %}
		</tr>
		
	</thead>
	<tbody>
		{% for obj in data %}
			{{ "<tr>" }}
			{% for field in obj %}
				{% if field|isdict == False  %}
					{{ "<td>"  }}
				    	{{ field }}
			    	{{ "</td>" }}
				{% endif %}
		    	
			{% endfor %}
			{% if modify %}
			<td>
					
					<a href="./modify/{{ obj|getid }}">
						<img src="{% static "img/edit.png" %}" alt="Edit data" height="16" width="16" >
					</a>
			</td>
			{% endif %}
		    {{ "</tr>" }}
		{% endfor %}
	</tbody>
</table>
{% endblock %}