{% extends "biomaint/base.html" %}

{% block title %}Resolver Orden de Trabajo{% endblock %}

{% block body %}
	<div id="title">
		<h2>Orden de Trabajo #{{ obj.id.value}}</h2>
	</div>
	<div id="WorkOrder">
		
	</div>
	<div id="details">
	{% for field in detail %}
		<div>
			<p>Date: {{ field.date }} - {{ field.user}}</p>
			<p>{{ field.detail }}</p>
		</div>
	{% endfor %}
	</div>
	{% if add_detail  %}
	{% endif  %}
{% endblock %}