{% extends "biomaint/base.html" %}
{% load static from staticfiles %}
{% load work_order_extras %}
{% block scripts %}
<script type="text/javascript">
		$(document).ready(function(){
			$("form a").on('click',function(event){
				console.log(event);
				$(event.currentTarget).parent().submit();
			});	
		})
</script>
{% endblock %}
{% block body %}
<div id="title">
		<h2>{{ title }}</h2>
		{% csrf_token %}
</div>

<table id="table-view" class="table table-bordered table-hover">
	<thead>
		{{ "<tr>" }}
		{% for field in form %}
		    <th>{{ field }}</th>
		{% endfor %}
		<th>{{ "Crear Comentario" }}</th>
		<th>{{ "Resolver" }}</th>
		{{ "</tr>" }}
	</thead>
	<tbody>
		{% for obj in data %}
			{{ "<tr>" }}
			{% for field in obj %}
				{% if field|isdict == False  %}
					{{ "<td>"  }}
				    	{{ field }}
			    	{{ "</td>" }}
				{% endif %}
		    	
			{% endfor %}
			{{ "<td>"  }}

				<a href="./addcoment/{{ obj|getid }}">
					<img src="{% static "img/add_comment.png" %}" alt="Add Comment" height="16" width="16" >
				</a>
			{{ "</td>" }}
			{{ "<td>"  }}
			<form method="post" action="{% url 'finalize Order' %}" accept-charset="utf-8">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{ obj|getid }}">
				<a href="#">
					<img src="{% static "img/send_mail.png" %}" alt="Send Email" height="16" width="16" >
				</a>
				
			</form>
			{{ "</td>" }}
		    {{ "</tr>" }}
		{% endfor %}
	</tbody>
</table>
{% endblock %}