{% extends "biomaint/base.html" %}
{% block title %}Login{% endblock %}
{% block logout %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
	<div align="center">
		<form method="post" id="loginform">
			{% csrf_token %}
		<p>
		<label>Usuario:</label><input type="text" name="username">	
		</p>
		<p>
		<label>Contraseña:</label><input type="password" name="pwd">
		</p>
		<button id="send" class="btn btn-primary">Iniciar sesión</button>
		</form>

	</div>
{% endblock %}