body{
	margin: 5%;

}

div>p:first-child{

	background-color: #F6F6F6;
	margin: 0 -1%;
	padding: 0 1%;
	
}
div>p:first-child>label{

	font-weight: bold;
	
}
div.navbar{
	clear: both;
}

h2{
	text-align: center;
}

header > div:first-child{

	margin-bottom: 1%;

}

form > a > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#body{

	border: 3px solid #CCCCCC;
	clear: both;
	padding: 0 1% 1% 1%;
}

#equip,
#form_standard > div.fieldWrapper,
#loginform, 
#title h2,
#work_order_form > div>div:first-child
{

	padding-top: 1%;

}

#id_description{

	width: 99%;
}

#logout{
	float: right;
	margin-top: -8%;
}

#table-view{

	margin-top: 1%;

}

#title{
	background-color: #f6f6f6;
	margin: -1% -1% 0 -1%;
	padding: 0 0 1% 0;
}

