{% if request.session.admin  %}
	
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Equipos
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all equip' %}">Ver</a></li>
			<li><a href="{% url 'create equip' %}">Crear</a></li>
	    </ul>
	</li>
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Areas
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all area' %}">Ver</a></li>
			<li><a href="{% url 'create area' %}">Crear</a></li>
	    </ul>
	</li>
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Tipos
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all type' %}">Ver</a></li>
			<li><a href="{% url 'create type' %}">Crear</a></li>
	    </ul>
	</li>
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Prioridades
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all priority' %}">Ver</a></li>
			<li><a href="{% url 'create priority' %}">Crear</a></li>
	    </ul>
	</li>
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Estados
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all status'%}">Ver</a></li>
			<li><a href="{% url 'create status' %}">Crear</a></li>
	    </ul>
	</li>
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Usuarios
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all users'%}">Ver</a></li>
			<li><a href="{% url 'create user' %}">Crear</a></li>
	    </ul>
	</li>
	<li class="dropdown divider-vertical"> 
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Grupos de Usuarios
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'view all groups'%}">Ver</a></li>
			<li><a href="{% url 'create group' %}">Crear</a></li>
	    </ul>
	</li>

{% endif %}