{% load static from staticfiles %}
{% static "css/main.css" as maincss %}
{% static "css/bootstrap-responsive.css" as bootstrap_css_r %}
{% static "css/bootstrap.css" as bootstrap_css %}
{% static "js/jquery-1.10.2.js" as jquery %}
{% static "js/bootstrap.js" as bootstrapjs %}
{% static "humans.txt" as humans %}
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="author" href="{{humans}}" />
	<link rel="stylesheet" type="text/css" href="{{bootstrap_css_r}}">
    <link rel="stylesheet" type="text/css" href="{{bootstrap_css}}">
	<link rel="stylesheet" type="text/css" href="{{maincss}}">
	<script type="text/javascript" src="{{jquery}}"></script>
	<script type="text/javascript" src="{{ bootstrapjs }}"></script>
	{% block othercss %}{% endblock %}
	{% block scripts %}{% endblock %}

</head>
<body>
	<header id="header">
		{% block header %}
		<div>
		<div id="logo">
			{% static "img/logo-fundacion.jpg" as logo %}
			<img src="{{logo}}">
		</div>
		{% block logout %}
		<div id="logout">
			<a href="{% url 'logout' %}">Desconectarse</a>
		</div>	
		{% endblock %}
		</div>
		{% endblock %}
		{% block navbar %}
		<div class="navbar">
			<div class="navbar-inner">
			<nav class="nav">
				{% block nav %}
				<li class="dropdown divider-vertical"> 
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      			Ordenes de Trabajo
	   				</a>
	   				<ul class="dropdown-menu">
	   					<li><a href="{% url 'view Order' %}">Ver</a></li>
	   					<li><a href="{% url 'index' %}">Generar</a></li>
				    </ul>
	   			</li>
	   			{% include "biomaint/base_top_bar.html" %}
				{% endblock %}
			</nav>
			</div>
		</div>
		{% endblock %}
	</header>
	<div id="body">
		{% block body %}
		{% endblock %}
	</div>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</body>
</html>