{% extends "biomaint/base.html" %}
{% load static from staticfiles %}
{% block title %}Generar orden de trabajo{% endblock %}
{% block scripts %}
<script type="text/javascript">
		$(document).ready(function(){
			$("#number_active").on('keypress',function(event){
				console.log($('input[name="csrfmiddlewaretoken"]').val());
				console.log(event);
				if (event.keyCode == 13) {
					$("#data").html('');
					$.post('./form/equip',{'number_active':$("#number_active").val(),
							'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val()}
					).done(function(data) { $("#data").append(data) 
						$.post('./form/workorder',
							{'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val()}
						).done(function(data) { $("#data").append(data)
							$("form").show("slow");
							$("#equip").hide("slow");
						 });
					});

				};
			});
			$("form").hide();
		
		})
</script>
{% endblock %}
{% block body %}
	<div id="title">
		<h2>Órdenes de trabajo</h2>
	</div>
	<div id="equip">
		<p><label>Numero de Activo</label></p>
		<p>Favor digitar el numero del activo que presenta problemas</p>
		<input id="number_active" name="number_active">
		<!--button>Enviar</button-->
	</div>
	<form id="work_order_form" name="add work order" method="post" accept-charset="utf-8" class="form-horizontal">
			{% csrf_token %}
			<div id="data"></div>
			<button id="send" class="btn btn-primary">Enviar</button>
	</form>
{% endblock %}