<p>
Su orden a sido atendida
</p>
<h2>
Orden de trabajo
</h2>
{% for field in data %}
	<p><label>{{ field.0 }}</label></p>
	<p>{{ field.1 }}</p>
{% endfor%}

<p>
Este mensaje a sido generado automatimanete por favor no lo responda.
</p>